body {
  font-family: "Satoshi-Black", sans-serif !important;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  min-height: 260px;
  max-width: 100%;
  background: #191a1d;
  caret-color: transparent;
}

.container {
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 500px;
}

.container-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  text-transform: none;
}

input[type="text"] {
  width: 100%;
  padding: 12px 10px;
  border: 1px solid #ddd;
  border-radius: 100vw;
  font-size: 16px;
  transition: border-color 0.3s ease;
  caret-color: black;
}

input[type="text"]:focus {
  outline: none;
  border-color: white;
}

button {
  background-color: #fff250;
  color: #0d111d;
  padding: 12px 20px;
  border: none;
  border-radius: 100vw;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 15px;
}

button:hover {
  background-color: linear-gradient(to right, #8bc34a, #4caf50);
}

#resultado {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.tooltip {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  position: absolute;
  top: 10%;
  z-index: 1;
  transform: translateY(50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip.show {
  visibility: visible;
  opacity: 1;
}
